<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Calorie</title>
	<!--CSS files-->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
	
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    
    
	<!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
	<script src="js/app.js"></script
	
	
    
  </head>
  <body ng-app="calorie" ng-controller = "CalCtrl">

  <ion-side-menus>
  
  <ion-side-menu-content>
    <ion-header-bar class="bar-dark">
      <button class="button button-icon icon-right ion-chevron-right" ng-click="toggleProjects()">
        Food <!--Button to a list of food options -->
      </button>
      <h1 class="title">Calorie Counter</h1>
      <button class="button button-icon icon-left ion-chevron-left" ng-click="newTask()">
        BMI <!-- Button for the BMI calculator-->
      </button>
      
    </ion-header-bar>
    <ion-content scroll="false" class="calculator">
	  
	  <div class="list ">
	    <center><h4>Your Calories</h4><center>
	    <div class="card">
	      <div class="item item-text-wrap" id = "cals" align="center">
	    	0
	      </div>
	    </div>
	  

	    <div class="card card-colour">
          <div class = "row">
		  <!-- Input of calories-->
		  <label class="item-input-wrapper col col-75" >
            <input type="text" value="0" id="calenter"></input>
          </label>
          <button class="button button-small col" onclick="entCal()">
            Submit
          </button>
		  </div>
        </div>
        </br>
        <div class ="card card-colour">
		  <center>
		    Calorie Quick Add
		    <div class="button-bar">
				<!--Quick options for manual input-->
              <a class="button button-small button-block button-royal" onclick="addCal('1')">1 Calories</a>
			  <a class="button button-small button-block button-calm" onclick="addCal('5')">5 Calories</a>
			  <a class="button button-small button-block button-royal" onclick="addCal('10')">10 Calories</a>		    
            </div>
			<div class="button-bar">
            
              <a class="button button-small button-block button-royal" onclick="addCal('25')">25 Calories</a>
			  <a class="button button-small button-block button-calm" onclick="addCal('50')">50 Calories</a>
			  <a class="button button-small button-block button-royal" onclick="addCal('100')">100 Calories</a>		    
            </div>
		  </center>
		</div>
        
        <div class="card card-colour">
  
        <center>
		    <a class="button button-small button-block button-assertive" onclick="resetButton()" >
              Reset
            </a>
          </center>
        </div>
      </div>
	  <div class="bar bar-footer bar-balanced">
        <div class="title">Live Long and Healthy </div>
      </div>
      

	  
    </ion-content>
    </ion-side-menu-content>

      <!-- Left menu, A list of some common foods and meals with their calorie content -->
      <ion-side-menu side="left">
      <ion-header-bar class="bar-dark">
        <h1 class="title">List of Food</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <ion-item class="food-slide">
            
			<div>

			  <div class="item item-button-right">
				Can of Coke
				<button class="button button-small button-energized" onclick="addCal('139')">
				  139
				</button>
			  </div>
			  
			  <div class="item item-button-right">
				Big Mac Meal
				<button class="button button-small button-energized" onclick="addCal('1150')">
				  1150
				</button>
			  </div>
			
			  <div class="item item-button-right">
				Pint of Guinness
				<button class="button button-small button-energized" onclick="addCal('210')">
				  210
				</button>
			  </div>
			  
			  <div class="item item-button-right">
				Apple
				<button class="button button-small button-energized" onclick="addCal('53')">
				  53
				</button>
			  </div>
			  
			  <div class="item item-button-right">
				Banana
				<button class="button button-small button-energized" onclick="addCal('48')">
				  48
				</button>
			  </div>
			  
			  <div class="item item-button-right">
				Glass of Wine
				<button class="button button-small button-energized" onclick="addCal('160')">
				  160
				</button>
			  </div>
			  
			  <div class="item item-button-right">
				Steak and Chips
				<button class="button button-small button-energized" onclick="addCal('550')">
				  550
				</button>
			  </div>
			  
			  <div class="item item-button-right">
				Roast and Mash
				<button class="button button-small button-energized" onclick="addCal('493')">
				  493
				</button>
			  </div>
			  
			  <div class="item item-button-right">
				Mars Bar
				<button class="button button-small button-energized" onclick="addCal('280')">
				  280
				</button>
			  </div>
			  
			  <div class="item item-button-right">
				Deep Fried Mars Bar
				<button class="button button-small button-energized" onclick="addCal('1500')">
				  1500
				</button>
			  </div>

			  
          </ion-item>
        </ion-list>
      </ion-content>
      </ion-side-menu>

    </ion-side-menus>
    <script id="new-task.html" type="text/ng-template">

    <div class="modal">

      <!-- Modal header bar -->
	  <!-- BMI calculator pop up page -->
      <ion-header-bar class="bar-secondary bar-dark">
        <h1 class="title">BMI Calculator </h1>
        <button class="button button-clear button-positive ion-chevron-left" ng-click="closeNewTask()">Back</button>
      </ion-header-bar>

      <!-- Modal content area -->
      <ion-content class="calculator">
	  
	    <div class="card food-slide">
		  <center>
		    <h4>Your BMI</h4>
	        <div class="item item-text-wrap" id = "BMI" align="center">
	    	  0
	        </div>
		  </center>
	    </div>
	    <center>
		  <div class="card food-slide">
		    <h4>Calculate BMI metric</h4>
		    <h5>Weight in Kg</h5>
		    <label class="item-input-wrapper" >
		      <input type="text" placeholder="0" id="varA">
		    </label>
		    <h5>Height in Meters</h5>
		    <label class="item-input-wrapper" >
              <input type="text" placeholder="0" id="varB">
		    </label>
		    </br>
            <input type="button" value="Calculate BMI" onclick="BMImetric(varA, varB)">
          </div>
		</center> 

        
      </ion-content>
	  

    </div>

  
 
  </body>
  
  
</html>
