.calculator {background-color: rgba(255, 255, 0, 0.3);}
.card-colour{background-color: rgb(153, 255, 102);}
.food-list{background-color: rgba(51, 153, 255, 0.3);}
.food-slide{background-color: rgb(51, 153, 255);}
.bmi{background-color: rgba(204, 51, 255,0.3);}
.bmi-card{background-color: rgba(149, 0, 149,0.6);}